@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900/90 text-white;
  font-family: Verdana, sans-serif;
}

@layer components {
  .control_board {
    background: rgb(58, 68, 91);
    background: linear-gradient(
      135deg,
      rgba(35, 42, 57, 0.8) 0%,
      rgba(30, 40, 54, 0.8) 100%
    );
  }
} ;
